In [116]:
print ("=====No. 1 TYPE DATA======")

=====No. 1 TYPE DATA======

In [117]:
integer = 245

In [118]:
string = "Rifqi"

In [119]:
flo = 1.5

In [120]:
bol = False

In [121]:
print ("type datanya adalah", (type(integer)))

type datanya adalah <class 'int'>

In [122]:
print ("type datanya adalah", (type(string)))

type datanya adalah <class 'str'>

In [123]:
print ("type datanya adalah", (type(flo)))

type datanya adalah <class 'float'>

In [124]:
print ("type datanya adalah", (type(bol)))

type datanya adalah <class 'bool'>

In [125]:
print ("=============\n")

=============

In [126]:
print ("=====No. 2 Buatlah komentar Nama, NIM dan No Telepon=====")

=====No. 2 Buatlah komentar Nama, NIM dan No Telepon=====

In [127]:
print ("Rifqi Muzakki")

Rifqi Muzakki

In [128]:
print ("20220040121")

20220040121

In [129]:
print ("085721050709")

085721050709

In [130]:
print ("===============\n")

===============

In [131]:
print ("=====No. 3 Perhitungan 3 buah angka=======")

=====No. 3 Perhitungan 3 buah angka=======

In [133]:
pertama =float(input("masukan angka pertama :"))

masukan angka pertama : 5000

In [86]:
kedua =float(input("masukan angka kedua: "))

masukan angka kedua:  2000

In [85]:
ketiga =float(input("masukan angka ketiga: "))

masukan angka ketiga:  500

In [88]:
tambah1 = pertama + 500

In [89]:
tambah2 = kedua + 500

In [90]:
total = tambah1 + tambah2 - ketiga

In [91]:
print("hasil dari semuanya :", total)

hasil dari semuanya : 7500.0

In [104]:
print ("============\n")

============

In [103]:
print("======No. 4 Aplikasi untuk mencaru keliling lingkaran dan volume kubus======")

======No. 4 Aplikasi untuk mencaru keliling lingkaran dan volume kubus======

In [95]:
print("1. keliling lingkaran")

1. keliling lingkaran

In [99]:
r =float(input("input R nya :"))

input R nya : 20

In [100]:
k = 2*3.14*r

In [101]:
print ("jadi kelilingnya : ",k)

jadi kelilingnya :  125.60000000000001

In [111]:
print("2. Volume Kubus")

2. Volume Kubus

In [112]:
s = float(input("input s nya :"))

input s nya : 20

In [113]:
hitung = s*s*s

In [114]:
print ("jadi volume kubusnya :", hitung)

jadi volume kubusnya : 8000.0

In [115]:
print ("=============")

=============